.project .heading h3 {
    margin-top: 100px;
    color: #f1356d;
}

.projectContent {
    color: antiquewhite;
}

.projectImg {
    padding-top: 20px;
}

.accordion {
    padding-top: 20px;
}

.accordion-header button {
    background-color: #333 !important;
    color: antiquewhite !important;
    font-size: 35px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accordion-body {
    background-color: #333 !important;
}

.accordion-body .description ul li {
    color: antiquewhite;
    font-size: 18px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accordion-body .description ul li::marker {
    color: #f1356d;
}

.projectImg img {
    border-radius: 20px;
}

.techStack {
    color: antiquewhite;
    font-size: 18px;
}

.techStack span {
    color: #f1356d;
    font-size: 18px;
}

.projectLink, .sourceCodeLink {
    color: antiquewhite;
}

.projectHead, .projectDesc{
    color: antiquewhite;
}

.projectlinks {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 200;
}


.projectlinks a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: antiquewhite;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectlinks a::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.projectlinks a:hover {
    cursor: pointer;
    color: #f1356d;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectlinks a:hover::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectDesc .description {
    border: 1px solid #f1356d;
    background-color: #f1356d;
    border-radius: 20px;
    height: 200px;
    z-index: 1000;
}