.project .heading h3 {
    font-weight: 400;
    margin-top: 100px;
    color: #f1356d;
}

.projectContent {
    color: antiquewhite;
}

.enableDark button {
    background-color: #333 !important;
    color: antiquewhite !important;
    transition: background 1s;
}

.enableLight button {
    background-color: #e0cdb4 !important;
    color: #222 !important;
    transition: background 1s;
}

.bodyDark {
    background-color: #222 !important;
    transition: background 1s;
}

.bodyLight {
    background-color: antiquewhite !important;
    transition: background 1s;
}

.bodyDark .description ul li {
    margin-top: 10px;
    color: antiquewhite;
    font-size: 18px;
    font-weight: 200;
}

.bodyLight .description ul li {
    margin-top: 10px;
    color: #222;
    font-size: 18px;
    font-weight: 200;
}

.description ul li::marker {
    color: #f1356d;
}

.techStack {
    color: antiquewhite;
    font-size: 18px;
}

.techStack-light {
    color: #222;
    font-size: 18px;
}

.techStack span {
    color: #f1356d;
    font-size: 18px;
}

.techStack-light span {
    color: #f1356d;
    font-size: 18px;
}

.projectlinks, .projectlinks-light {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 200;
}


.projectlinks a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: antiquewhite;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectlinks-light a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #222;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectlinks a::after, .projectlinks-light a::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.projectlinks a:hover, .projectlinks-light a:hover {
    cursor: pointer;
    color: #f1356d;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectlinks a:hover::after, .projectlinks-light a:hover::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projectDesc .description {
    border: 1px solid #f1356d;
    background-color: #f1356d;
    border-radius: 20px;
    height: 200px;
    z-index: 1000;
}

.card:hover {
    cursor: default;
    box-shadow: 10px 0 50px black;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.changeLight-light {
    color: antiquewhite;
    margin-top: 50px;
    font-size: 20px;
}

.changeLight-dark {
    color: #222;
    margin-top: 50px;
    font-size: 20px;
}

.card:hover .changeLight-light {
    color: #f1356d;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover .changeLight-dark {
    color: #f1356d;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul li::marker {
    color: #f1356d;
}

ul li {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
}