.animation p{
    background: -webkit-linear-gradient(135deg,#fc466b,#3f5efb);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.extra h5 {
    font-weight: 300;
    color: antiquewhite;
}

.extra-light h5 {
    font-weight: 300;
    color: #222;
}

.home .profilepic {
    text-align: center;
}

.home .profilepic img {
    box-shadow: 10px 0 50px black;
    border-radius: 15px;
    border-radius: 25px;
    transition-duration: 1s;
    height: 350px;
}

.home .resumeButton, .home .resumeButton-light {
    margin-top: 40px;
    width: 170px;
    height: 50px;
    padding: 0px 12px;
}

.home .resumeButton button {
    background-color: transparent;
    color: antiquewhite;
    border: 1px solid #f1355d;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.home .resumeButton-light button {
    background-color: transparent;
    color: #222;
    border: 1px solid #f1355d;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.home .resumeButton button:hover, .home .resumeButton-light button:hover {
    background-color: #f1355d;
}

.home .resumeButton button::after, .home .resumeButton-light button::after{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.github img{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.github img::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.github img:hover {
    opacity: 0.5;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.github img:hover::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linkedin img{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linkedin img::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linkedin img:hover {
    opacity: 0.5;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linkedin img:hover::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mail img{
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mail img::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mail img:hover {
    opacity: 0.5;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mail img:hover::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.resumeButton, .resumeButton-light {
    text-align: center;
}

.resumeButton a {
    text-decoration: none;
    font-size: large;
    background-color: transparent;
    color: antiquewhite;
    border: 1px solid #f1355d;
    border-radius: 10px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding-top: 9px;
}

.resumeButton-light a {
    text-decoration: none;
    font-size: large;
    background-color: transparent;
    color: #222;
    border: 1px solid #f1355d;
    border-radius: 10px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding-top: 9px;
}

.resumeButton a::after, .resumeButton-light a::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.resumeButton a:hover, .resumeButton-light a:hover {
    opacity: 0.5;
    border: 1px solid #f1355d;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.resumeButton a:hover::after, .resumeButton-light a:hover::after {
    opacity: 1;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width: 990px) {
    .home .profilepic img {
        height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .home .profilepic {
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: left;
    }
}


@media only screen and (max-width: 1197px) {
    .profileLinks .linkedin {
        margin-left: 40px;
    }
    .profileLinks .mail {
        margin-left: 40px;
    }
}
