.navbar1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 80px;
    z-index: 1000;
}

.navbar1 a {
    text-decoration: none;
}

.navbar1 h1 {
    margin-left: 20px;
    font-size: 35px;
    color: antiquewhite;
    font-weight: bolder;
    padding-top: 15px;
}

.navbar1 .links {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    list-style: none;
}

.navbar1 .links a {
    text-decoration: none;
    margin: 20px;
    color: antiquewhite;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar1 .links a::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.navbar1 .links a:hover {
    cursor: pointer;
    color: #f1356d;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar1 .links a:hover::after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar1 .mobile-container {
    display: none;
}

.navbar1 .mobile-nav {
    display: none;
}

.navbar1 .mobile-nav .links {
    display: none;
}

@media only screen and (max-width: 580px) {
    .navbar1 .links {
        display: none;
    }
    .navbar1 .mobile-container {
        display: block;
        margin-left: 300px;
    }
    .navbar1 .mobile-nav .links {
        display: flex;
        flex-direction: column;
        background-color: #333;
        border-radius: 0px 0px 10px 10px;
    }
    .navbar1 .mobile-container:hover {
        cursor: pointer;
    }
    .navbar1 .mobile-nav .links {
        font-size: 18px;
        font-weight: 300;
        display: flex;
        list-style: none;
    }

    .navbar1 .mobile-nav .links a {
        display: block;
        text-decoration: none;
        color: antiquewhite;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .navbar1 .mobile-nav .links a::after {
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }


    .navbar1 .mobile-nav .links a:hover {
        cursor: pointer;
        color: #f1356d;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .navbar1 .mobile-nav .links a:hover::after {
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

@media only screen and (max-width: 580px) {
    .navbar1 .mobile-container {
        margin-left: 250px;
        transition: all 0.1s;
    }
}

@media only screen and (max-width: 550px) {
    .navbar1 .mobile-container {
        margin-left: 200px;
        transition: all 0.1s;
    }
}

@media only screen and (max-width: 480px) {
    .navbar1 .mobile-container {
        margin-left: 150px;
        transition: all 0.1s;
    }
}

@media only screen and (max-width: 430px) {
    .navbar1 .mobile-container {
        margin-left: 100px;
        transition: all 0.1s;
    }
}

@media only screen and (max-width: 380px) {
    .navbar1 .mobile-container {
        margin-left: 50px;
        transition: all 0.1s;
    }
}