.exp .heading h3 {
    font-weight: 400;
    margin-top: 100px;
    color: #f1356d;
}

.expcontent {
    font-weight: 200;
    color: antiquewhite;
}

.expcontent-light {
    font-weight: 200;
    color: #222;
}


.expcontent .companyName, .expcontent .roleName, .expcontent .startDate, .expcontent .descript ul li {
    color: antiquewhite;
}

.expcontent-light .companyName, .expcontent-light .roleName, .expcontent-light .startDate, .expcontent-light .descript ul li {
    color: #222;
}

.companyName, .roleName {
    text-align: left;
}

.startDate {
    text-align: right;
}

.descript {
    text-align: left;
}

.roleName {
    font-size: 35px;
    font-weight: 500;
}

.companyName {
    font-size: 25px;
    font-weight: 300;
}

.startDate {
    font-size: 17px;
}

.descript ul li {
    margin-top: 10px;
    font-size: 18px;
}

.descript ul li::marker {
    color: #f1356d;
}