.content {
    margin-top: 80px;
    background-color: #222;
    padding: 20px;
    display: block;
    transition: background 1s;
}

.content-light {
    margin-top: 80px;
    background-color: #faebd7;
    padding: 20px;
    display: block;
    transition: background 1s;
}

.loadingContent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #222;
}