.content {
    margin-top: 80px;
    background-color: #333;
    padding: 20px;
    display: block;
}

.loadingContent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #333;
}

.loadingText {
    color: antiquewhite;
}